*

!X11
!bspwm
!colors
colors/colors_kitty.conf
colors/colors.sh
colors/.Xresources
!compton.conf
!curl
!git
!gtk-*/settings.ini
!mpd
!ncmpcpp
!nvim
!ranger
!sxhkd
!systemd/user
!tmux
!user-dirs.dirs
!vim
!zathura
!zsh

!README
!TARGETS
!link.sh
