*swp*
*plugged*
.netrwhist
mpd/*
!mpd/mpd.conf
ranger/colorschemes
chromium
systemd
!systemd/*.service
dconf
deluge/*
!deluge/*.conf
GIMP
guvcview2
htop
inkscape/*
!inkscape/preferences.xml
pulse
syncthing/*
!syncthing/config.xml
